@model kudybabzamowienia.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa_firmy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa_firmy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id zamówienia
            </th>
            <th>
                Data
            </th>
            <th>
                Kwota
            </th>
            <th>
                Zrealizowane
            </th>
            <th>
                Klient
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.orders)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Data
                </td>
                <td>
                    @(item.Kwota)zł
                </td>
                <td>
                    @item.Zrealizowane
                </td>
                <td>
                    @item.Client.Nazwa_firmy
                </td>
                <td>
                    @foreach (var po in item.ProductOrders)
                    {
                        <table>
                            <tr>
                                <td>@po.Product.Nazwa</td>
                                <td>@po.szt</td>
                            </tr>
                        </table>
                    }
                </td>
                <td>
                    <a href="../../Orders/Edit/@item.Id">Edit</a> |
                    <a href="../../Orders/Details/@item.Id">Details</a> |
                    <a href="../../Orders/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>